@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        html {
            height: 100%;
        }

        :root {
            --cor01: #094b59; /*#013440*/
            --cor02: #53A688; /*#226473*/
            --corfundo: #D6F1EA;
            --branco: #F2F2F2; /**/

            --fonte: "Poppins", sans-serif;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body{
            background-color: var(--corfundo);
            font-family: var(--fonte);
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--cor02);
            height: 100px;
        }

        .logo h1 {
            padding: 20px;
            color: var(--branco);
        }

        .menu {
            background-color: var(--cor0);
            font-weight: bold;
        }

        .menu ul {
            list-style: none;
            display: flex;
            flex-direction: row;
        }

        .menu a {
            padding: 20px;
            transition: .5s;
            border-radius: 5px;
        }

        .menu a:hover {
            background-color: var(--corfundo);
            color: var(--cor01);
        }


        .grid {
            margin-top: 100px;
            padding: 60px 30px;
            display: grid;
            justify-content: center;
            justify-items: center;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }


        a {
            text-decoration: none;
            color: var(--branco);
        }

        .card {
            background-color: #ced4da;
            border-radius: 10px;
            box-shadow: 3px 4px 3px #00000030;
            display: flex;
            flex-direction: column;
            width: 500px;
            height: 600px;
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .card_image {
            background-color: gray;
            width: 500px;
            height: 500px;
            border-radius: 10px 10px 0px 0px;
        }

        .card_content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            background-color: var(--cor02);
            border-radius: 0px 0px 10px 10px;
        }

        .card_content p {
            font-size: 24px;
            font-weight: bold;
        }

        img {
            width: 500px;
            height: 500px;
            border-radius: 10px 10px 0px 0px;
        }